<div class=" d-flex justify-content-between align-items-center"
    style="height: 100%; width: 100%; padding: 0.5%; background-color: #fff; position: relative;"   >  
   
   <div class="d-flex justify-content-between align-items-center" style="width: 25%; height: 80%; ">
     

       <!-- <button (click)="toggleMenu()" class="menu-button">
         <div class="bar" [@menuState]="menuState"></div>
         <div class="bar" [@menuState]="menuState"></div>
         <div class="bar" [@menuState]="menuState"></div>
       </button> -->
   </div>

   

   <div class="d-flex justify-content-center align-items-center" style="width: 50%; height: 100%; font-family: Revamped; font-weight: bold; color: #6cc51d; font-size: 2em; letter-spacing: 2px;">
      {{title}}
   </div>

   <div style="width: 25%; height: 100%;" class="d-flex justify-content-end div_logo">
      <button (click)="logout()" class="div_logo-button">
         <img src="../../../assets/images/logout.png" style="width: auto; height: 100%;">
      </button>
   </div> 

</div>


