<div class="d-flex flex-column justify-content-between align-items-center" style="width: 100%; height: 100%; background-color: #fbfbfb; " > 
<!-- background: linear-gradient(to bottom, rgb(9 112 30), rgb(31, 171, 59, 0.7)); -->
  <div class="d-flex flex-column justify-content-between align-items-center"  style="width: 100%;height: 40%;" >
      
      <div  (click)="navigate( 'admin/dashboard' )" [ngClass]="classMenu('/admin/dashboard')"  class=" d-flex justify-content-center align-items-center"  >
        Dashboard
        <!-- <img src="../../../assets/images/home.png" style="height: 100%; width: auto;"> -->
      </div>

      <div (click)="navigate( 'admin/gestion_adherent' )" [ngClass]="classMenu('/admin/gestion_adherent')"  class=" d-flex justify-content-center align-items-center "  >
        Gestion Adhérents
        <!-- <img src="../../../assets/images/home.png" style="height: 100%; width: auto;"> -->
      </div>

      <div  (click)="navigate( 'admin/gestion_coach' )" [ngClass]="classMenu('/admin/gestion_coach')" class=" d-flex justify-content-center align-items-center "  >
        Gestion Coachs
        <!-- <img src="../../../assets/images/home.png" style="height: 100%; width: auto;"> -->
      </div>

      <div  (click)="navigate( 'admin/salle' )" [ngClass]="classMenu('/admin/salle')" class=" d-flex justify-content-center align-items-center "  >
        Gestion Salle
        <!-- <img src="../../../assets/images/home.png" style="height: 100%; width: auto;"> -->
      </div>

      <div  (click)="navigate( 'admin/cours' )" [ngClass]="classMenu('/admin/cours')" class=" d-flex justify-content-center align-items-center "  >
        Gestion Cours
        <!-- <img src="../../../assets/images/home.png" style="height: 100%; width: auto;"> -->
      </div>

      <div  (click)="navigate( 'admin/terrain_foot' )" [ngClass]="classMenu('/admin/terrain_foot')" class=" d-flex justify-content-center align-items-center "  >
        Gestion Terrain Foot
        <!-- <img src="../../../assets/images/home.png" style="height: 100%; width: auto;"> -->
      </div>

      <div  (click)="navigate( 'admin/terrain_padel' )" [ngClass]="classMenu('/admin/terrain_padel')" class=" d-flex justify-content-center align-items-center "  >
        Gestion Terrain Paddel
        <!-- <img src="../../../assets/images/home.png" style="height: 100%; width: auto;"> -->
      </div>


    <div (click)="navigate( 'admin/planning' )" [ngClass]="classMenu('/admin/planning')" class=" d-flex justify-content-center align-items-center "  >
        Planning
    </div>


  

  </div>

  <div class="d-flex flex-column justify-content-between align-items-center" style="width: 100%; height: 60%; ">


  </div>

  

</div>