.div_details
{
    width: 20%; height: 100%;
    background-color: #ffffff;
    border:solid 1px #eee;
    border-radius: 5px;
}
.div1
{
    width: 65%; height: 100%;
    background-color: #ffffff;
    border:solid 1px #eee;
    border-radius: 5px;
    //box-shadow: 0 4px 6px -1px #d8d8d8, 0 2px 4px -1px #d8d8d8;
}

.div2
{
    width: 34%; height: 100%;
    background-color: #ffffff;
    border:solid 1px #eee;
    border-radius: 5px;
    //box-shadow: 0 4px 6px -1px #d8d8d8, 0 2px 4px -1px #d8d8d8;
}

.ligne_hr
{
    width: 99%; border-top: 2px solid #d8d8d8 !important; margin : 0.5% 0;
}
 